<%= render 'shared/analytics' %>
<footer class="site-footer">
  <div class="footer-lower">
  	<div class="<%= container_classes %>">
      <ul class="list-inline">
        <li class="list-inline-item"><%= link_to "howdy.tamu.edu", "https://howdy.tamu.edu" %></li>
        <li class="list-inline-item"><%= link_to "Off-Campus Access", "https://library.tamu.edu/services/tech_troubleshooting.html" %></li>
        <li class="list-inline-item"><%= link_to "Texas A&M University", "https://www.tamu.edu" %></li>
        <li class="list-inline-item"><%= link_to "Site Policies", "https://library.tamu.edu/about/compliance.html" %></li>
        <li class="list-inline-item"><%= link_to "Texas CREWS", "http://www.thecb.state.tx.us/apps/txcrews" %></li>
        <li class="list-inline-item"><%= link_to "Accessibility", "https://askus.library.tamu.edu/faq/229193" %></li>
        <li class="list-inline-item"><%= link_to "Comments", "https://askus.library.tamu.edu/contact/index" %></li>
        <li class="list-inline-item"><%= link_to "Copyright", "https://tamu.libwizard.com/id/92fdfdec4a3227642e99d2a56f7755f8" %></li>
        <%= render :partial=>'tamu/footer_user_util_links' %>
      </ul>
      <div class="footer-info-address">
        <p class="copyright">&copy; <span class="fn org">Texas A&amp;M University</span>, <span class="adr"> <span class="locality">College Station</span>, <span class="region">Texas</span> <span class="postal-code">77845</span></span>.
      </div>
    </div>
  </div>
</footer>
